#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Ja vēlaties, lai footer vienmēr būtu apakšā */
.App {
    width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Galvenais saturs aizpilda atlikušo vietu */
.main-content {
  flex: 1;
  width: 100%;
  max-width: 1200px; /* Pievienojiet, ja vēlaties ierobežotu platumu */
  margin: 0 auto;    /* Centrē saturu */
  padding: 0 20px;   /* Pievienojiet side padding */
  box-sizing: border-box;
}